.form-input {
 margin-top: 20px;
}

label {
 display: inline-block;
 margin-bottom: 0.5rem;
 color: #ffffff;
}

.form-control {
 display: block;
 width: 100%;
 height: calc(1.5em + 0.75rem + 2px);
 padding: 0.375rem 0.75rem;
 font-size: 1rem;
 font-weight: 400;
 line-height: 1.5;
 color: #ffffff;
 background-color: rgb(255 255 255 / 14%);
 background-clip: padding-box;
 border: 1px solid rgb(255 255 255 / 35%);
 border-radius: 0.25rem;
 transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 outline: none;
}